footer{
    width: 100vw;
    height: 150px;
    background: #FFFFFF;
    border-top: 5px solid #D9801B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
}
footer p{
    font-style: normal;
    font-weight: 596;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: var(--color1);
}
footer a{
    color: var(--color2);
    text-decoration: none;
    transition: 0.2s;
    position: relative;
}
footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* start just below the text */
  width: 100%;
  height: 2.5px;
  background-color: var(--color1);
  
  opacity: 0;
  transform: translateY(4px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

footer a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 900px){
    footer > img{
        height: 50px;
    }
}
@media (max-width: 600px){
    footer{
        display: block;
        justify-self: center;
        justify-content: center;
        padding: 0;
        padding-top: 15px;
    }
    footer > img{
        margin: auto; 
        margin-bottom: 50px;
        display: block;
        justify-self: center;
    }
}