.property-listings{
    min-height: 90vh;
}
.property-listings > h2{
    text-align: center;
    height: 100px;
    margin: 0;
    margin-bottom: 50px;
}
.property-listings > p{
    justify-self: center;
    width: 70vw;
    max-width: 1000px;
    font-weight: 500;
    margin: auto;
}
.property-listings > button{
    margin: 50px auto;
    min-width: 200px;
    width: 50vw;
    max-width: 500px;
}
.property-card{
    background-color: var(--color1-50);
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 85vw;
    max-width: 1400px;
    justify-self: center;
    margin: auto;
    margin-bottom: 25px;
    min-height: 100px;
}
.property-card:nth-child(even){
    background-color: var(--color1-25);
}
.property-card .property-img{
    width: 90%;
    align-self: center;
    justify-self: center;
}
.property-card > .container > .head{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    width: 95%;
    justify-self: center;
    text-indent: 15px;
}
.property-card > .container > .head > a{
    text-decoration: none;
}
.property-card .container .contact-button{
    border: solid var(--color2) 2.5px;
    border-radius: 15px;
    background-color: var(--color3-50);
    color: white;
    text-transform: none;
    height: 25px;
    font-size: 1em;
    box-shadow: none;
    margin-top: 7.5px;
    transition: 0.2s;
}
.property-card .container .contact-button:hover{
    background-color: var(--color2);
    color: black;
}
.property-card .container > .break{
    width: 98%;
    justify-self: center;
    height: 2px;
    background-color: var(--color2);
}
.property-card .container > p{
    margin: 10px auto;
    margin-bottom: 15px;
    width: 95%;
    justify-self: center;
    font-weight: 375;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1em;
}
.property-card .property-details{
    display: block;
    text-align: center;
    align-content: center;
    justify-self: center;
    width: 100%;
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}
.property-card .property-details:hover{
    font-size: 1.15em;
}
@media (max-width: 900px){
    .property-listings > p{
        width: 95vw;
    }
    .property-card{
        display: block;
        width: 95vw;
        margin: auto;
        margin-bottom: 10px;
        min-height: 150px;
    }
    .property-card > .head{
        display: grid;
        grid-template-columns: 140px 1fr;
    }
    .property-card .property-img{
        width: 90%;
        justify-self: center;
        margin: 10px auto;
    }
    .property-card > .head .container{
        justify-items: start;
    }
    .property-card > .head h3{
        margin-top: 10px;
        margin-left: 10px;
        text-align: start;
    }
    .property-card .container .contact-button{
        font-size: 0.9em;
        justify-self: start;
        height: 25px;
        margin-left: 10px;
        padding: 0 10px;
        border-width: 2px;
    }
    .property-card > p{
        width: 90%;
        justify-self: center;
        margin: 0 auto;
        font-size: 0.85em;
    }
}

@media (max-width: 600px){
    .property-listings > h2{
        height: 50px;
    }
}