.property{
    min-height: 90vh;
}
.property > .head{
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100vw;
    max-width: 1400px;
    justify-self: center;
}
.property > .head > .main > h2{
    margin: 0;
    height: 75px;
    align-content: center;
}
.porperty > .head >.main > span{
    display: block;
    height: 25px;
    font-weight: 494;
    font-size: 24px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.75);
}
.property > .card{
    background-color: var(--color1-50);
    justify-self: center;
    width: 95vw;
    max-width: 1200px;
    padding: 35px;
    margin: auto;
}
.property > .card > span{
    display: block;
    text-align: center;
    font-weight: 596;
    font-size: 20px;
    line-height: 22px;
}
.property > .card > .break{
    justify-self: center;
    height: 2.5px;
    width: 100%;
    background-color: var(--color2);
}
.property > .card > p{
    width: 85%;
    justify-self: center;
    margin-top: 25px;
}


.property-contact{
    background-color: var(--color1-50);
    display: flex;
    align-items: center;
    height: 75px;
    width: 315px;
    margin: 50px 0;
    transition: 0.2s;
    text-decoration: none;
}
.property-contact:hover{
    background-color: var(--color1);
}
.property-contact > span{
    width: 250px;
    font-style: normal;
    font-weight: 596;
    font-size: 20px;
    line-height: 22px;
    padding-left: 15px;
    color: white;
}
.property-contact > svg{
    scale: 1.75;
    margin-left: 15px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.property-slideshow{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 25px auto;
    align-items: center;
}
.property-slideshow.loading{
    display: block;
    justify-content: center;
    justify-self: center;
    overflow: hidden;
    margin: 100px auto;
}
@media (max-width: 600px){
    .property-slideshow.loading{
        margin: 25px auto;
    }
}
.property-slideshow.loading > p{
    text-align: center;
}
.property-slideshow.loading > span{
    justify-self: center;
    margin: auto;
}
.property-slideshow .slideshow-img{
    display: block;
    aspect-ratio: 3 / 2;
    width: 55vw;
    max-width: 1000px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}
.property-slideshow .slideshow-img:first-child,
.property-slideshow .slideshow-img:last-child {
  opacity: 0.2;
  filter: blur(10px);
  cursor: pointer;
}
.property-slideshow div svg{
    cursor: pointer;
    margin: 0 50px;
}

@media (max-width: 900px){
    .property-slideshow div svg{
        scale: 0.5;
        margin: 0 15px;
    }
}

@media (max-width: 600px){
    .property > .head{
        grid-template-columns: 100px 1fr;
        width: 100vw;
    }
    .property > .head > button{
        padding: 0 15px;
    }
    .property > .head > .main > h2{
        margin: 0;
        height: 50px;
        align-content: center;
    }

    .property > .card{
        padding: 15px;
    }
    .property > .card > span{
        font-size: 1em;
    }
    .property > .card > .break{
        justify-self: center;
        height: 2.5px;
        width: 100%;
        background-color: var(--color2);
    }
    .property > .card > p{
        width: 85%;
        margin: auto;
        margin-top: 15px;
    }

    .property-slideshow > img{
        width: 70vw;
    }


    .property-contact{
        height: 50px;
        width: 215px;
        margin: 35px 0;
    }
    .property-contact > span{
        width: 165px;
        font-style: normal;
        font-weight: 596;
        font-size: 0.85em;
        line-height: 15px;
        padding-left: 5px;
        color: white;
    }
    .property-contact > svg{
        scale: 1.25;
    }
}


.property-map{
    min-height: 90vh;
    max-width: 1400px;
    justify-self: center;
    justify-content: center;
}
.property-map > .head{
    display: flex;
    margin: 0 25px;
    width: 100%;
    justify-self: center;
}
.property-map > .head button{
    display: flex;
    margin-right: 50px;
    padding: 0 10px;
}
.property-map > .head button img{
    margin-right: 25px;
}
.property-map > img{
    display: block;
    justify-self: center;
    width: 70vw;
    max-width: 1000px;
    margin: auto;
}

@media (max-width: 600px){
    .property-map > .head button{
        margin-right: 25px;
    }
    .property-map > .head button img{
        margin-right: 5px;
        scale: 0.55;
    }
    .property-map > img{
        width: 90vw;
        margin: 50px auto;
    }
}